#container{
  position : absolute;
  display: flex;
  flex-direction: column;
  width : 80%;
  height : 80%;
  left : 50%;
  margin-left: -40%;
  top : 50%;
  margin-top :-20%;
}

#header{
  background-color: rgba(192,192,192,0.3);
  color : rgba(192,192,192);
  text-align: center;
  font-weight: 700;
  padding : 0 20px;
  border : 1px solid rgba(192,192,192,0.5);
}

#content{
  width : 100%;
  border : 1px solid rgba(192,192,192,0.5);
}

#title{
  width : 99%;
}

#content-area{
  width: 99%;
  height: 300px;
}

#bookinfo-row{
  height: 50px;
}

#bookinfo{
  padding-left: 5px;
  height : 100%;
  display: flex;
}

#bookinfo-department{
  flex-grow: 1;
}

#bookinfo-name{
  flex-grow: 1;
}

#bookinfo-price{
  flex-grow: 1;
}

#select-box1{
  width : 80%;
}

#select-box2{
  width : 80%;
}

#menu{
  display: flex;
  flex-direction: row;
}

#backbtn{
  padding : 0 10px;
  margin-top: 5px;
  text-decoration: none;
  color : rgba(255,255,255,0.9);
  font-weight: 700;
  text-align: center;
  background-color: rgba(192,192,192,0.5);
  margin-left: 85%;
  margin-right : 7px;
}

#writebtn{
  padding : 0 10px;
  margin-top: 5px;
  text-decoration: none;
  color : rgba(255,255,255,0.9);
  text-align: center;
  background-color: rgba(192,192,192,0.5);
}
